---
layout: default
title: Blog
---

<div class="blog-posts">
  {% if paginator.posts.size > 0 %}
    {% for post in paginator.posts %}
      <article class="post">
        {% if post.thumbnail %}
        <div class="post-thumbnail">
          <a href="{% if post.video_url %}{{ post.video_url }}{% else %}{{ site.baseurl }}{{ post.url }}{% endif %}" target="{% if post.video_url %}_blank{% endif %}">
            <img src="{{ post.thumbnail }}" alt="{{ post.title }}" class="post-thumbnail__image">
          </a>
        </div>
        {% endif %}
        
        <div class="post-header">
          <h2 class="post-title">
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </h2>
          <div class="post-meta">
            <time datetime="{{ post.date | date: "%Y-%m-%d" }}" class="post-meta__date">{{ post.date | date: "%-d %b %Y" }}</time>
          </div>
        </div>
      </article>
    {% endfor %}
  {% else %}
    <p>No posts found.</p>
  {% endif %}
</div>

{% if paginator.total_pages > 1 %}
  {% include pagination.html %}
{% endif %} 